@font-face {
    font-family: quicksand-bold;
    src: url($quicksand-bold) format('woff2');
}

@font-face {
  font-family: opensans;
  src: url($opensans) format('woff2');
}

:root {
  --heading-font-family: quicksand-bold;
  --font-family: opensans, sans-serif;
} 
